* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.navbar__container img {
  position: relative;
  top: 6px;
}

#navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoText img {
  width: 200px;
  height: 70px;
  filter: invert();
  object-fit: cover;
  object-position: bottom;
  position: relative;
  left: -45px;
}

.logoIMG img {
  width: 90px;
  position: relative;
  top: 5px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
  font-size: 13px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__links:hover {
  color: #797979;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }

  .navbar__menu.active {
    background: #131313;
    top: 80%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
    font-size: 20px;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.main {
  background-image: url(images/Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0;
  height: 95vh;
  z-index: 1;
  width: 100%;
  padding: 0 5%;
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -300px;
}

.main__content h1 {
  font-size: 4.19vw;
  background-color: white;
  background-image: linear-gradient(to top, #868686 0%, #ffffff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-size: 4.6vw;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #ffffff 0%, #8a8b8b 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2vw;
  font-weight: 300;
  color: #fff;
}

.main__img--container {
  text-align: center;
}

#main__img {
  height: auto;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2.2rem;
  }

  .main__content p {
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }
}

.pasos__background {
  background-image: url(images/backgroundGray.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pasos__container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: contain -200px;
}

.pasos__container h1 {
  position: absolute;
  text-align: center;
  font-weight: 500;
  padding: 20px 20px;
  background-color: white;
  background-image: linear-gradient(to top, #b3b3b3 0%, #ffffff 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.pasos {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 70px;
}

.paso1 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  animation: slideLeft 1s ease-out forwards;
  animation-timeline: view();
  animation-range-start: cover 0px;
  animation-range-end: contain 300px;
}

.paso2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-left: 20px;
  padding-right: 20px;
  animation: slideUp 1s ease-out forwards;
  animation-timeline: view();
  animation-range-start: cover 0px;
  animation-range-end: contain 300px;
}

.paso3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  animation: slideRight 1s ease-out forwards;
  animation-timeline: view();
  animation-range-start: cover 0px;
  animation-range-end: contain 300px;
}

@media screen and (max-width: 910px) {
  .pasos__container {
    min-height: 950px;
  }

  .pasos {
    padding-top: 50px;
    flex-direction: column;
    max-width: 60vw;
    max-height: 60vw;
    min-width: 521px;
    min-height: 521px;
    justify-content: center;
    gap: 40px;
  }

  .paso2 {
    border: none;
    animation: slideRight 1s ease-out forwards;
    animation-timeline: view();
    animation-range-start: cover 0px;
    animation-range-end: contain 300px;
  }
  .paso3 {
    animation: slideLeft 1s ease-out forwards;
    animation-timeline: view();
    animation-range-start: cover -100px;
    animation-range-end: contain 00px;
  }
}

.footer__container {
  background-color: #141414;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slideIn 1.5s ease forwards;
}

.footer__logo img {
  width: 100px;
  filter: invert();
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: #fff;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__right {
  color: #fff;
  font-size: 1rem;
}

@media screen and (max-width: 820px) {
  .footer__logo img {
    margin-bottom: 1rem;
    padding-bottom: 20px;
    width: 120px;
  }

  .website__right {
    font-size: 0.7rem;
    margin-bottom: 2rem;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

.agenda {
  background: rgb(238, 238, 238);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55vh;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range-start: cover -100px;
  animation-range-end: contain 150px;
}

.agenda h1 {
  background-color: #000000;
  background-image: linear-gradient(to bottom, #868686 0%, #2b2b2b 60%);
  background-size: 100%;
  margin-top: 0;
  max-width: 300px;
  text-align: center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.agendaLeft,
.agendaRight {
  width: 50%;
  display: flex;
  justify-content: center;
}

.agendaRight {
  border-left: 1px solid #2b2b2b;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 13px;
}

input {
  height: 40px;
  width: 250px;
  padding-left: 10px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: 0px;
  font-size: 12px;
  color: #555;
  background: white;
  border: 1px solid #888;
  padding: 0.5px 3px;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #969696;
}

button:active {
  background: rgb(190, 190, 190);
}

#meetingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

@media screen and (max-width: 630px) {
  .agenda {
    flex-direction: column;
  }
  .agenda h1 {
    min-width: 300px;
    margin-bottom: 3cqb;
  }
  .agendaRight {
    border: none;
  }
}

.contact {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
  background-image: url(images/Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slideIn 1.5s ease forwards;
}

.contact h1 {
  background-color: white;
  background-image: linear-gradient(to top, #868686 0%, #ffffff 100%);
  background-size: 100%;
  font-weight: 500;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
